# fly.toml app configuration file generated for hospital-app-dev on 2026-01-29T23:51:15+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hospital-app-dev'
primary_region = 'bom'

[build]

[env]
  NODE_ENV = 'production'
  PORT = '8080'

[processes]
  app = 'node dist/index.js'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 250
    soft_limit = 200

[checks]
  [checks.http]
    port = 8080
    type = 'http'
    interval = '30s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
